*{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #ECF0F1;
}
.menubar_sec{
    background-color: black;
    min-height:400px;
    display:flex;
    justify-content: space-between;
}

.leftmenu_link ul{
    display: flex;
    gap:40px;
   
}
