*{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #ECF0F1;
}
.menubar_sec{
    background-color:#333333;
    min-height: 100px;
    margin: 70px;
    display:flex;
    justify-content: flex-end;
}

.leftmenu_link ul{
    display: flex;
    gap:40px;
    padding:40px 30px 20px 0px;
   
}

.leftmenu_link ul li a{
    color:#fff;
    font-size:20px;
    cursor: pointer;  
}
.contact_btn{
    background-color:#4292A3;
    color:#fff;
    padding:20px 20px 20px 40px;
   
}