*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.follow{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:60px 80px;
}
.follow_img{
    border
}